audio#thumbs-up(src='../audio/like.wav')
audio#msg-new(src='../audio/message.wav')
// JavaScript
script(src='/js/jquery.min.js')
script(src='/js/tether.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/custom-ui.js')
script(src='/js/formHandle.js')