extends layout/layout
block content
	.container.user-form(style='height:100%')
		.col-12.col-lg-4.mx-auto.mt-5
			span.site-logo.my-5 Community Network
			form(method='post')
				if error.length>0
					.alert.alert-danger(role='alert') #{error}
				if success.length>0
					.alert.alert-success(role='alert') #{success}
				.form-group
					input.form-control(type='password', name='newPassword', value='', placeholder='New Password')
				.form-group
					input.form-control(type='password', name='confirmPassword', value='', placeholder='Confirm Password')
				button(type='submit', name='submit') RESET
