#panel-settings.panel.px-2.pt-4.hidden-md-up
	li
		a(href='/update')
			| Account Settings
			i.fa.fa-angle-right.py-2
	li
		a(href='/logout')
			| Sign Out
			i.fa.fa-angle-right.py-2
#panel-notification.panel.px-2.pt-4.hidden-md-up.notification-bar
