nav.mobile-nav.py-2.hidden-md-up
	a.active(href='#')
		i.fa.fa-home
	a(href='/profile/'+user._id)
		i.fa.fa-user
	a.mx-4.search(href='/search')
		i.fa.fa-search
	a(href='/messages')
		i.fa.fa-inbox
	a.btn-settings(href='#')
		i.fa.fa-cog
